
.bg-primary {
  background-color: #621231 !important;
}

.text-primary {
  color: #621231 !important;
}

.border-primary {
  border-color: #621231 !important;
}

.btn-primary {
  background-color: #621231 !important;
  border-color: #621231 !important;
}

.btn-primary:hover {
  background-color: #4a0d24 !important; 
  border-color: #4a0d24 !important;
}

.form-control:focus, .form-select:focus {
  border-color: #621231;
  box-shadow: 0 0 0 0.25rem rgba(98, 18, 49, 0.25); 
}

.form-check-input:checked {
  background-color: #621231;
  border-color: #621231;
}