.container.mt-4 {
  margin-top: 100px !important; 
  position: relative;
}

.btn-azul-inst {
  background-color: #1F3564 !important;
  border-color: #1F3564 !important;
  color: white !important;
  transition: all 0.3s ease;
}

.btn-azul-inst:hover {
  background-color: #152342 !important;
  transform: scale(1.02);
}

.titulo-azul {
  color: #1F3564;
  font-weight: 700; 
  text-transform: uppercase;
  margin-bottom: 0;
}

.subtitulo-negro {
  color: #000000;
  font-size: 0.9rem; 
  display: block;   
}