@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* Títulos Azules */
.titulo-azul {
  color: #1F3564;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* Subtítulos */
.subtitulo-negro {
  color: #000000;
  font-size: 0.9rem;
  display: block;
}

/* Descripción Inter */
.descripcion-inter {
  font-family: 'Inter', sans-serif;
  color: #6c757d;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

/* Botón Azul Institucional */
.btn-azul-inst {
  background-color: #1F3564 !important;
  border-color: #1F3564 !important;
  color: white !important;
  transition: all 0.3s ease;
}

.btn-azul-inst:hover {
  background-color: #16264a !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(31, 53, 100, 0.3);
}

/* Checkboxes (Interruptores) color Guinda al activarse */
.form-check-input:checked {
  background-color: #621231;
  border-color: #621231;
}